<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button mat-button color="primary" (click)="mapClick()"> map </button>
    <button mat-button color="primary" (click)="filterClick()"> filter </button>
    <button mat-button color="primary" (click)="tapClick()"> tap </button>
    <button mat-button color="primary" (click)="takeClick()"> take </button>
    <button mat-button color="primary" (click)="debounceTimeClick()"> debounceTime / Click </button>
    <button mat-button color="primary" (click)="debounceTimeSearchClick()"> debounceTime / Search </button>
</div>

<div class="debounce-area" 
     matRipple 
     matRippleCentered="true" 
     patRippleColor="rgb(2014,166,0.4)" 
     matRippleRadios="40">
    
</div>

<mat-divider></mat-divider>

<mat-form-field style="margin: 20px;">

    <mat-label>Search by:</mat-label>
    <input matInput 
           placeholder="Type something" 
           autocomplete="off" 
           (keyup)="searchBy_UsingDebounce($event)" 
           [(ngModel)]="searchInput" />

</mat-form-field>
